.loaderSpinner {
  width: 48px;
  height: 48px;
  border: 5px solid;
  border-color: #35B8BE transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: loaderSpinner 1s linear infinite;
}

@keyframes loaderSpinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loaderSpinnerSmall {
  width: 24px;
  height: 24px;
  border: 3px solid;
  border-color: #35B8BE transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: loaderSpinnerSmall 1s linear infinite;
}

@keyframes loaderSpinnerSmall {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loaderDots {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #35B8BE;
  box-shadow: 20px 0 #35b7be7d, -20px 0 #35b7be7d;
  position: relative;
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: #35B8BE;
    box-shadow: 20px 0 #35B8BE, -20px 0 #35b7be7d;
  }
  50% {
    background-color: #35b7be7d;
    box-shadow: 20px 0 #35B8BE, -20px 0 #35B8BE;
  }
  100% {
    background-color: #35B8BE;
    box-shadow: 20px 0 #35b7be7d, -20px 0 #35B8BE;
  }
}
      