header {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    background-color: white;
    top: -97px;
    transform: rotate(-2deg);
    width: 99.5%;
    height: 220%;
    z-index: -1;
    pointer-events: none;
  }

  & .header-wrapper {
    display: flex;
    padding: 20px 0;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  & .nav-wrapper {
    margin-left: auto;
    display: flex;
    max-width: 400px;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    & .cart-block {
      position: relative;

      & i {
        font-size: 1.3em;
      }

      & .cart-content {
        position: absolute;
        top: -11px;
        right: -11px;
        background-color: white;
        padding: 0 6px;
        border-radius: 20px;
        box-shadow: 7px 7px 25px 0px #7E828F45;

        & h2 {
          font-size: 0.8em;
          margin: 0;
          padding: 0;
          color: #35B8BE;
        }
      }
    }
  }

  & nav {
    & ul {
      list-style: none;
      display: flex;
      padding: 0;

      & > li {
        display: flex;
        padding: 10px 15px;
        align-items: center;

        & a {
          text-decoration: none;
          color: #28224B;
        }

        & .LoadingBar {
          width: 52px;
          height: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

@media (max-width: 1240px) {
  .header-wrapper {
    padding: 20px 20px !important;
  }
}