@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,350,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@import "./pages/menuPage/menuPage.css";
@import "./components/header/header.css";
@import "./components/footer/footer.css";

body {
  background-color: #F5FBFC;
}

* {
  font-family: Inter;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 400;
  font-weight: 350;
  margin: 0;
  padding: 0;
}